body {
    background-image: linear-gradient(to top left, blue, purple, rgb(16, 15, 15) 75%);
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p {
    color: white;
    font-family: monospace;
    margin: 20px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

header nav {
    margin-right: 10px;
    font-family: monospace;
    display: flex;
}

header nav a {
    margin: 20px;
    color: white;
    text-decoration: none;
    font-size: 25px;
}

header nav a:hover {
    color: purple;
}

#about {
    display: flex;
    width: 100%;
    height: 100vh;


    align-items: center;
    flex-direction: column;

}

main h1 {
    color: white;
    font-size: 50px;
    font-family: monospace;

}

.blackbox {
    background-color: black;
    display: flex;
    height: 40%;
    width: 55%;
    padding: 10px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border-color: rgb(44, 9, 78);
    border-style: solid;
    border-width: 10px;
}

@media only screen and (max-width: 384px) {
    header nav a {
        font-size: 20px;
    }
    main h1 {
        font-size: 45px;
    }
}
@media only screen and (max-width: 330px) {
    header nav a {
        font-size: 15px;
    }
    p {
        font-size: small;
    }
    main h1 {
        font-size: 40px;
    }
}